body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}
/* Body Header*/
#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url('banner pic.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}


/* Horizontal Lists */
.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin:0px 8px 8px 0px;
    font-weight: 100;
    font-size: 1rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}
.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}
.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

/*name in banner*/

.text-center{
    text-align: center;
}

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i{
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%
}
.social-icons li {
    border-radius: 50%;
}

.social-icons li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.social-icons li a img {
    width: 1rem;
    padding: 8px;
}

section{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color: lightgrey;
}


section:nth-child(2n+1){
    background-color: white;
}

.section-heading{
    width: auto;
    padding: 20px 10px 5px;
    margin: 10px auto;
    font-weight: 400;
}
.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
 /*About Section*/

 #about{
    height: auto;
    width: 100%;
    position: relative;
 }
 #my-image{
    height: 14rem;
    width:14rem;
    margin: auto;
    margin-top: -17vh;
 }
 #my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 10px 10px 20px gray;
 }
 #about-parah{
    color: grey;
    text-shadow: 1px 1px lightgrey;
    margin: 12rem;
    margin-top: 5rem;
    line-height: 1.5em;
    word-spacing: 0.1em;
 }

 /* Skills Section */

 .skills-display{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    /* margin-right: 2rem; */
    padding: 10px;

 }

 .skill-progress{
    width: 15rem;
    height: 2rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
    border: 1.8px solid black;
    box-shadow: 2px 7px 5px rgba(0,0,0,0.5);
    margin: 25px;
}

 .skill-progress>div{
    border-radius: 12px 0px 0px 12px;
 }

 .skill-name span{
    color: white;
    font-size: 1.2rem;
    position: relative;
    top: -0.5rem;
    left: 0.7rem;
 }

 /*Portfolio*/
 .portfolio-display{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    /* margin-right: 2rem; */
    padding: 10px;

 }
 .projects{
    width:-10px;
    margin:15px;

 }
 .project-image{
    width: 15rem;
 }

/*Contact section*/
#contact{
    background-image:linear-gradient(to top right, #2857a4,#403066);
}
.contact-contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 50px;
    margin-top: -80px;
}
.contact-heading span{
    color: white;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:50px;
    
}
.contact-left label {
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}
.contact-left input, .contact-left textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(40, 23, 138);
    width: 100%;
    max-width: 400px;
    resize: none;
}
.contact-left button {
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
    max-width: 175px;
    
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.contact-address{
    font-size: 24px;
    margin-bottom: 20px;
}
.contact-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact-right li {
    margin-bottom: 10px;
    color: white;
    font-weight:lighter;
    font-size:15px;
    
}

.contact-right p{
    color: white;
}

.contact-right h3{
    color: white;
}
.contact-address i{
    font-size: 15px;
    color: white;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;

}
 /*Common Margin Classes*/

 .mb75px{
    margin-bottom: 75px;
 }


 /*common color classes*/

 .text-highlight{
    color: #2857a4;
 }
 .mb-blue{
    background-color: #1A237E;
 }
 .mb-orange{
    background-color: #df9100;
 }
 .mb-green{
    background-color: #2F4F4F;
 }
 .mb-red{
    background-color: #800000;
 }
 .mb-white{
    background-color: white;
 }

 /*Percentage Class*/

 .seventy-percent{
    width: 70%;
    height: inherit;
 }

 .sixty-percent{
    width: 60%;
    height: inherit;
 }

 .fivty-percent{
    width: 50%;
    height: inherit;
 }
 .forty-percent{
    width: 40%;
    height: inherit;
 }
 .ninety-percent{
    width: 90%;
    height: inherit;
 }




